<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>飼育表の追加</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>飼育員の組み合わせの追加</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('role.list') }}">飼育表</a></li>
        <li>新規組み合わせ</li>
    </ul>
    
    <form action="{{ url_for('role.add') }}" method="post">
        <label>飼育員: 
            <select name="keeper_id" required>
                <option value="" selected>選択してください</option>
                {% for keeper in keepers %}
                    <option value="{{ keeper.id }}">{{ keeper.name }}</option>
                {% endfor %}
            </select>
        </label><br>
        <label>動物: 
            <select name="animal_id" required>
                <option value="" selected>選択してください</option>
                {% for animal in animals %}
                    <option value="{{ animal.id }}">{{ animal.name }}</option>
                {% endfor %}
            </select>
        </label><br>
        <label> 種類: 
            <select name="animal_kind_id" required>
                <option value="" selected>選択してください</option>
                {% for kind in kinds %}
                    <option value="{{ kind.id }}">{{ kind.kind }}</option>
                {% endfor %}
            </select>
            
        </label><br>
        <button type="submit">追加</button>
    </form>
</body>
</html>